<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Lista de empleados</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Correo electronico
                                    </th>
                                    <th>
                                        Direccion
                                    </th>
                                    <th>
                                        Casas vendidas en el trimestre
                                    </th>
                                    <th>
                                        % de comision por venta
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            5782
                                        </td>
                                        <td>
                                            Alberto Canche
                                        </td>
                                        <td>
                                            alberto.canche@gmail.com
                                        </td>
                                        <td>
                                            Reg 228 SMZ 8 lt 5
                                        </td>
                                        <td>
                                            15
                                        </td>
                                        <td class="text-primary">
                                            20%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5783
                                        </td>
                                        <td>
                                            Minerva Perez
                                        </td>
                                        <td>
                                            minerva.perez@gmail.com
                                        </td>
                                        <td>
                                            Reg 518 SMZ 5 lt 8
                                        </td>
                                        <td>
                                            11
                                        </td>
                                        <td class="text-primary">
                                            20%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5784
                                        </td>
                                        <td>
                                            Sara Rodriguez
                                        </td>
                                        <td>
                                            sara.rodriguez@gmail.com
                                        </td>
                                        <td>
                                            Reg 101 SMZ 2 lt 9
                                        </td>
                                        <td>
                                            7
                                        </td>
                                        <td class="text-primary">
                                            10%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5785
                                        </td>
                                        <td>
                                            Felipe Tzuc
                                        </td>
                                        <td>
                                            felipe.tzuc@gmail.com
                                        </td>
                                        <td>
                                            Reg 128 SMZ 3 lt 7
                                        </td>
                                        <td>
                                            5
                                        </td>

                                        <td class="text-primary">
                                            10%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5786
                                        </td>
                                        <td>
                                            Damaris Lopez
                                        </td>
                                        <td>
                                            damaris.lopez@gmail.com
                                        </td>
                                        <td>
                                            Reg 115 SMZ 1 lt 7
                                        </td>
                                        <td>
                                            8
                                        </td>
                                        <td class="text-primary">
                                            7%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5787
                                        </td>
                                        <td>
                                            Marlen Piña
                                        </td>
                                        <td>
                                            marel.piña@gmail.com
                                        </td>
                                        <td>
                                            Reg 519 SMZ 8 lt 1
                                        </td>
                                        <td>
                                            5
                                        </td>
                                        <td class="text-primary">
                                            5%
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Table on Plain Background</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>
                                        ID
                                    </th>
                                    <th>
                                        Name
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Salary
                                    </th>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Dakota Rice
                                        </td>
                                        <td>
                                            Niger
                                        </td>
                                        <td>
                                            Oud-Turnhout
                                        </td>
                                        <td>
                                            $36,738
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Minerva Hooper
                                        </td>
                                        <td>
                                            Curaçao
                                        </td>
                                        <td>
                                            Sinaai-Waas
                                        </td>
                                        <td>
                                            $23,789
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            3
                                        </td>
                                        <td>
                                            Sage Rodriguez
                                        </td>
                                        <td>
                                            Netherlands
                                        </td>
                                        <td>
                                            Baileux
                                        </td>
                                        <td>
                                            $56,142
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            4
                                        </td>
                                        <td>
                                            Philip Chaney
                                        </td>
                                        <td>
                                            Korea, South
                                        </td>
                                        <td>
                                            Overland Park
                                        </td>
                                        <td>
                                            $38,735
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            5
                                        </td>
                                        <td>
                                            Doris Greene
                                        </td>
                                        <td>
                                            Malawi
                                        </td>
                                        <td>
                                            Feldkirchen in Kärnten
                                        </td>
                                        <td>
                                            $63,542
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            6
                                        </td>
                                        <td>
                                            Mason Porter
                                        </td>
                                        <td>
                                            Chile
                                        </td>
                                        <td>
                                            Gloucester
                                        </td>
                                        <td>
                                            $78,615
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>